.Home {
	display: inline-block;
    background-color: #E4E6F0;
    width: 100%;
    height: 100vh;
    vertical-align: middle;
}

.container-atas {
    display: flex;
    width: auto;
    padding: 2%;
    align-items: center;
    flex-direction: column;
}

.container-texts {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}