@tailwind base;
@tailwind components;
@tailwind utilities;

.Form {
	display: inline-block;
    background-color: #E4E6F0;
    width: 100%;
    height: auto;
    vertical-align: middle;
}


.label-forms {
    color: #7B7B7B;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.relative {
    margin-bottom: 20px;
}

.date-test {
    display: flex;
    position: relative;
    margin: 0;
    width: 50%;
}

.calendars-input {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

#floating_outlined_end::before {
    color: #7B7B7B;
}

#floating_outlined_end::after {
    color: #E4E6F0;
}